<%- include('header') %>
<div class="container">
    <label for="">Filtras</label>
    <input type="text">
    <button>filtruti</button>

    <br>
    <label for="">Irasas</label>
    <button onclick="window.confirm('ar tikrai?')">istrinti</button>
    <button onclick="window.location='/editHistory'">redaguoti</button>

    
</div>
<%- include('footer') %>