<%- include('header') %>
<div class="container">
    <h1>Graztas</h1>
    <button onclick="window.location='/order';">Uzsisakyti</button>
    <button onclick="window.location='/items';">Istrinti</button>
</div>
<%- include('footer') %>