<%- include('header') %>
<div class="container">
    <div class="container">
        <div class="main-body">

              <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                        <div class="mt-3">
                          <h4>Paulius Skliaudys</h4>
                          <p class="text-secondary mb-1">Administratorius</p>
                          <p class="text-muted font-size-sm">Lietuva, Jonava</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Pilnas Vardas</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          Paulius Skliaudys
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">El. Paštas</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          pauskl@ktu.lt
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Tel. Numeris</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          +37069999999
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Lytis</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          Vyras
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Adresas</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          Jonava, Kauno apskritis, Lietuva, Kauno savivaldybė
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Asmens kodas:</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          515115115
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-12">
                          <a class="btn btn-info" href="/edit" role="button">Redaguoti paskyrą</a>
                          <a class="btn btn-info" onclick="if(window.confirm('Ar tikrai istrinti?') == true){
                            href='/'
                            }" role="button">Ištrinti paskyrą</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
</div>


<%- include('footer') %>