<%- include('header') %>
<div class="container">
    <h1>Atsiliepimas</h1>
    <button onclick="window.location='/editRev';">redaguoti</button>
    <button onclick="window.confirm('Ar tikrai')">Istrinti</button>
    <button onclick="window.alert('Dalinimos sasaja')">Dalintis</button>
</div>
<%- include('footer') %>